// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;

  color: $gray-800;
  transition: color 0.3s ease;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;

  color: $gray-900;
  transition: color 0.3s ease;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  color: $gray-700;
  transition: color 0.3s ease;

  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;

    background-color: $gray-800;
    color: $white !important;
    transition: background-color 0.3s ease, color 0.3s ease;

    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;

  .list-inline-item i {
    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }
  }
}

.container-fluid {
  background-color: $gray-100;
  transition: background-color 0.3s ease;
}

[data-theme='dark'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray-300;
  }

  p,
  li {
    color: $gray-400;
  }

  .subheading {
    color: $gray-500;
  }

  .social-icons {
    a {
      background-color: $gray-400;
      color: $black !important;
      &:hover,
      &:focus,
      &:active {
        background-color: $indigo;
      }
    }
  }

  .dev-icons {
    .list-inline-item i {
      color: $gray-400;
      &:hover {
        color: $indigo;
      }
    }
  }

  .container-fluid {
    background: $gray-1000;
  }
}

.dark-theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  border-radius: 6px;
  border: 2px solid black;
  background: white;

  &:focus,
  &:hover {
    background: $yellow;
  }
}

@media (max-width: 992px) {
  .dark-theme-button {
    top: 65px;
  }
}
