#sideNav {
  z-index: 1;

  .navbar-brand a {
    color: $white;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  .navbar-toggler {
    &:focus {
      outline: 2.5px solid $gray-300;
    }
  }
}

[data-theme='dark'] {
  #sideNav {
    .navbar-brand a {
      color: $black;
    }

    .navbar-nav .nav-item .nav-link {
      color: rgba(0, 0, 0, 0.5);
    }

    .navbar-nav .nav-item.active .nav-link {
      color: $black;
    }

    .navbar-toggler {
      filter: invert(1);
    }
  }
}

[data-theme='navy'] {
  #sideNav {
    .navbar-brand a {
      color: $navy;
    }

    .navbar-nav .nav-item .nav-link {
      color: rgba(0, 0, 0, 0.5);
    }

    .navbar-nav .nav-item.active .nav-link {
      color: $navy;
    }

    .navbar-toggler {
      filter: invert(1);
    }
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;
    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
